body 
{ 
  	  background-color: lightblue;
  border-bottom: 1px solid #ccc;
  padding-bottom:5px;
  margin-left: 20px;

}
.column {
	  flex: 33.33%;
	  height: 400px;
	  padding: 10px;
	  margin: 5px;
	  background-color: #7d7557;  
	  text-align: center;
	}
	.container {
	   display: flex;
	}	
	 h1
	 {
		   text-align: center;
	 }

