
body {

 background-color:#cccccc;
 font-family: 'Roboto', sans-serif;
 background-attachment: fixed;
 background-size: cover;
   
}


legend
{
	color: Blue;
}	  


h1{
  font-size: 2em;
  color: #fff;
  font-weight: 100;
  text-transform: capitalize;
  letter-spacing: 4px;
  font-family: 'Roboto', sans-serif;
  
}

h2{
    font-size: 2em;
    color: #fff;
    font-weight: 50;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-family: 'Roboto', sans-serif;
    
  }

h3{
    font-size: 2em;
    color: black;
    font-weight: 50;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-family: 'Roboto', sans-serif;
    
  }



table {
  border-collapse: collapse;
  border-spacing: 0;
}


.Gender
{
	display: inline;		
}


button
{
       font-weight: bolder;
	   background-color:yellow;
	   border: none;
	   padding: 5px 5px;
	   margin: 2px 2px;
}